<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form Pengisian Category</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%= render "form", category: @category %>
            </div>
            <!-- /.card -->
          </div>
          <%= link_to "Back to categories", {controller: "categories", action: "index"}, class: "btn btn-large btn-info" %>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
